.imageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    row-gap: 30px;
    margin: 30px 20px;
}

.imageGalleryCard {
    transition: transform .3s;
    border: 1px solid #b39bc8;
    border-radius: 6px;
    overflow: hidden;
    -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
}

.imageGalleryCard:hover,
.imageGalleryCard:focus {
    transform: scale(1.05);
    border: 1px solid #f172a1;
    cursor: pointer;
}